{{#> base.html}}

    {{#*inline "title"}}
        {{path}} - Smeagol
    {{/inline}}

    {{#*inline "page"}}
        <h1>{{path}}</h1>

        <a href="?edit">Edit</a>
        <a href="{{parent_list_link}}">List parent</a>

        <hr>

        {{#if safe}}
            <div>{{{content}}}</div>
        {{else}}
            <pre>
{{content}}
            </pre>
        {{/if}}
    {{/inline}}

{{/base.html}}
