{{#> base.html}}

    {{#*inline "title"}}
        Listing {{path}} - Smeagol
    {{/inline}}

    {{#*inline "page"}}
        <h1>{{path}}</h1>

        {{#if parent_list_link}}
            <a href="{{parent_list_link}}">Parent</a>
        {{/if}}

        <ul>
            {{#each children}}
                <li><a href="{{this.link}}">{{this.name}}</a></li>    
            {{/each}}
        </ul>
    {{/inline}}

{{/base.html}}
